html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    align-items: center;
}

.container-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#276561;
    color: white;
    margin: 0px;
    align-items: center;
}

.container-image {
    height: 80px;
    width: fit-content;
    padding: 1%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.container-image img {
    border-radius: 50%;
    height: 100%;
}

.container-image-nav {
    height: 65px;
    width: fit-content;
    padding-left: 40px;

}

.container-image-nav img {
    height: 100%;
}

.container-image-navbar {
    width: 100%;
    display: flex;
    padding-right: 40px;
    flex-direction: row;
    justify-content: end;
}

.container-navbar h4 {
    width: 400px;
    padding-left: 1%;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.container-content h1 {
    color: #276561;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.container-content p {
    color: #276561;
    width: 100%;
    text-align: center;
}

.container-content h2, h3{
    color: #276561;
}

.line {
    display: block;
    width: 100%;
    background-color: #193230;
    height: 2px;
}

.container-paragraph {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.container-alter {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.container-image-alter {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-paragraph p {
    width: 45%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container-content a {
    color: #193230;
    font-size: x-large;
}

.alter-title {
    width: 100%;
    text-align: center;
}

.container-image-content {
    width: 35%;
    aspect-ratio: 1/1;
    object-fit: fill;
    margin: 0;
    padding: 0;
    margin-right: 10%;
}

.stylefooter {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: #193230;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: end;
}

.stylefooter h3 {
    color: white;
}

.stylefooter p {
    text-align: center;
}

.stylefooter a {
    text-decoration: none;
    width: 80%;
    text-align: center;
    color: white;
}

.stylefooter a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}


@media screen and (max-width: 767px) {
    .container-image {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container-image-nav {
        height: 30px;
    }

    .container-navbar h4 {
        font-size: small;
    }
    
    .container-image-navbar {
        padding: 0;
        padding-right: 30px;
    }

    .container-paragraph p{
        width: 100%;
    }

    .container-content a {
        width: 100%;
        text-align: center;
    }

    .container-image-content {
        display: none;
    }
}
